
extends iframe-layout
block mainContent
   div(id='container')
      h1=title
      div(id='')
         =text1
         br
         br
         label
            =text2

         input#age( type= "number")
         br
         label
            =text3
         from(role="form",name="formGender")
               div(class="radio")

                  label
                     input(type="radio", value='A',name='gender' )#genderF
                     =text4
               div(class="radio")
                  label
                     input(type="radio", value='B',name='gender' )#genderM
                     =text5
         br
         =text6
         br
         from(role="from", name="formPolitics")

            table
               tr(style="font-size:70%")
                  td
                     p
                  td
                    p 0
                  td
                     p 1
                  td
                     p 2
                  td
                     p 3
                  td
                     p 4
                  td
                     p 5
                  td
                     p 6
                  td
                     p 7
                  td
                     p 8
                  td
                     p 9
                  td
                     p 10
                  td
                     p
               tr
                  td
                    label
                        =text7
                  td
                     input(type="radio", value='0',name='politics',class="bar" )#politics0 0
                  td
                     input(type="radio", value='1',name='politics',class="bar" )#politics1 1
                  td
                     input(type="radio", value='2',name='politics',class="bar" )#politics2 2
                  td
                     input(type="radio", value='3',name='politics',class="bar" )#politics3 3
                  td
                     input(type="radio", value='4',name='politics',class="bar" )#politics4 4
                  td
                     input(type="radio", value='5',name='politics',class="bar" )#politics5 5
                  td
                     input(type="radio", value='6',name='politics',class="bar" )#politics6 6
                  td
                     input(type="radio", value='7',name='politics',class="bar" )#politics7 7
                  td
                     input(type="radio", value='8',name='politics',class="bar" )#politics8 8
                  td
                     input(type="radio", value='9',name='politics',class="bar" )#politics9 9
                  td
                     input(type="radio", value='10',name='politics',class="bar")#politics10 10
                  td
                    label
                        =text8
         br
         =text9
         from(role="form",name="formAnwser")
            div(class="radio",style="font-size:85%")
               label
                  input(type="radio", value='A',name='conf' )#confA
                  =text10
            div(class="radio",style="font-size:85%")
               label
                  input(type="radio", value='B',name='conf' )#confB
                  =text11
         br
         br




         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')

//
   Created by joseorellana on 29-01-16.

