doctype html
title=title
link(rel='stylesheet', href='/taxCompliance/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/taxCompliance/css/module.css')
link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css')


block mainContent
   //.alert.alert-dismissable.alert-danger
      button.close( type="button", data-dismiss="alert" ) ×
      | Danger Will Robinson!


   div(id='container')
      h1=Module
      div(id='Module1')
         br
         br
         table(id='table 1')
            tr
               =text1
               strong
                  =value
               =text2
               strong Grupo B.
               =text3

            tr
               td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  input(   type= "number", min= "0",max= value,id= "Send")
               td &nbsp;
               td
                   =text4

         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')



         .modal(id='ERROR')
            .modal-dialog.modal-lg
               .modal-content(style=".modal-content")
                  .modal-header

                     button(type="button", class="close", data-dismiss="modal",aria-label="Close",)
                        span(aria-hidden="true") &times;

                  .modal-body(style=".modal-body")
                        =error

                  .modal-footer
                     button(type="button", class="btn btn-primary", data-dismiss="modal") Cerrar


   //Created by joseorellana on 24-11-15.

