doctype html
title=title
link(rel='stylesheet', href='/taxCompliance/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/taxCompliance/css/module.css')
<<<<<<< HEAD
script( src="../js/jquery.js")
script( src="../js/jqueryui.min.js")
script( src="../js/merit.bars.js")
script( src="../js/bootstrap.js")
script( type="text/javascript" ,src="../js/bootstrap.min.js")
script( type="text/javascript", src="../js/npm.js")
script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )


=======
//script( src="../js/jquery.js")
//script( src="../js/jqueryui.min.js")
//script( src="../js/merit.bars.js")
//script( src="/js/boostrap.js")
//script( src="/js/boostrap.min.js")
//script( src="/js/npm.js")
link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css')
//script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js' )
//script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js' )
//script(type="text/javascript") $(document).ready(function(){ alert('hola'); })
>>>>>>> a2400efd3c7d14df72fef1d0efeb9300d89e8ce0


block mainContent
   //.alert.alert-dismissable.alert-danger
      button.close( type="button", data-dismiss="alert" ) ×
      | Danger Will Robinson!

<<<<<<< HEAD
   .modal.fade#ERROR
      .modal-dialog.modal-sm
         .modal-content "..."

=======
>>>>>>> a2400efd3c7d14df72fef1d0efeb9300d89e8ce0
   div(id='container')
      h1=Module
      div(id='Module1')
         br
         br
         table(id='table 1')
            tr
               =text1
               strong
                  =value
               =text2
               strong Grupo B.
               =text3
               p(style="visibility:'hidden'")#Error
                  font(color="red")
            tr
               td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  input(   type= "number", min= "0",max= value,id= "Send")
               td &nbsp;
               td
                   =text4

         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary',data-dismiss= "alert" )


<<<<<<< HEAD
=======
         .modal.fade(id='ERROR')
            .modal-dialog.modal-sm
               .modal-content
                  .modal-header "Header"
                  .modal-body "Body"
                  .modal-footer "Foo"

>>>>>>> a2400efd3c7d14df72fef1d0efeb9300d89e8ce0
   //Created by joseorellana on 24-11-15.

