doctype html
title=title
link(rel='stylesheet', href='/taxCompliance/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/taxCompliance/css/module.css')

div(id='container')
   h1=Module
   div(id='Module1')
      br
      br

      div
         p#number1 0
         p  | " + "

         p#number2 0
         p | "----"
      br
      input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary',data-dismiss= "alert" )


// Created by joseorellana on 01-12-15.

