extends iframe-layout
block mainContent
   div(id='container')
      h1=Module
      div(id='Module1')

         br
         br
         !=InstroModules
         br
         br
         =finalLine
         br
         br
         =ifYouUnderstood
         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')
//
   Created by joseorellana on 24-11-15.

