extends iframe-layout
block mainContent
   div(id='container')
      h1=Module
      div(id='module4')
         br
         br
         table(width="120%")
            tr
               td
                  =text
                  =text1

                  div(align="left",style="margin-left: 10%")
                     from(role="form")#fQuestion1
                        div(class="radio",font-size="40%")
                           input(type="radio", value='1',name='Question' )#answer1
                           =opcion1
                        div(class="radio",font-size="40%")
                           input(type="radio", value='2',name='Question' )#answer2
                           =opcion2
                        div(class="radio",font-size="40%")
                           input(type="radio", value='3',name='Question' )#answer3
                           =opcion3
                        div(class="radio",font-size="40%")
                           input(type="radio", value='4',name='Question' )#answer4
                           =opcion4
                        div(class="radio",font-size="40%")
                           input(type="radio", value='5',name='Question' )#answer5
                           =opcion5
                        div(class="radio",font-size="40%")
                           input(type="radio", value='6',name='Question' )#answer6
                           =opcion6
                        div(class="radio",font-size="40%")
                           input(type="radio", value='7',name='Question' )#answer7
                           =opcion7
                        div(class="radio",font-size="40%")
                           input(type="radio", value='8',name='Question' )#answer8
                           =opcion8
                        div(class="radio",font-size="40%")
                           input(type="radio", value='9',name='Question' )#answer9
                           =opcion9
                        div(class="radio",font-size="40%")
                           input(type="radio", value='10',name='Question' )#answer10
                           =opcion10
                        div(class="radio",font-size="40%")
                           input(type="radio", value='11',name='Question' )#answer11
                           =opcion11
                        div(class="radio",font-size="40%")
                           input(type="radio", value='12',name='Question' )#answer12
                           =opcion12
                        div(class="radio",font-size="40%")
                           input(type="radio", value='13',name='Question' )#answer13
                           =opcion13
                        div(class="radio",font-size="40%")
                           input(type="radio", value='14',name='Question' )#answer14
                           =opcion14
                        div(class="radio",font-size="40%")
                           input(type="radio", value='15',name='Question' )#answer15
                           =opcion15
                        div(class="radio",font-size="40%")
                           input(type="radio", value='16',name='Question' )#answer16
                           =opcion16
                        div(class="radio",font-size="40%")
                           input(type="radio", value='17',name='Question' )#answer17
                           =opcion17
                        div(class="radio",font-size="40%")
                           input(type="radio", value='18',name='Question' )#answer18
                           =opcion18


         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')
         .modal(id='ERROR')
            .modal-dialog.modal-lg
               .modal-content(style=".modal-content")
                  .modal-header
                     button(type="button", class="close", data-dismiss="modal",aria-label="Close")
                     span(aria-hidden="true") &times;
                  .modal-body(style=".modal-body")
                     =error
                  .modal-footer
                  button(type="button", class="btn btn-primary", data-dismiss="modal")=errorClose         
//
   Created by joseorellana on 05-02-16.

