extends iframe-layout
block mainContent
   div(id='container')
      h1=Module
      style.
         .risktab { padding: 10px; width: 50%;}
      div(id='module4')
         br
         br
         br
         table(border='3px solid', width="120%", font-size="40%")
            tr
               td.risktab
                  strong A.
                  =a
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion1
                        div(class="radio")
                           input(type="radio", value='1',name='Question1' )#answer1-1
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question1' )#answer2-1
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question1' )#answer3-1
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question1' )#answer4-1
                           =opcion4   
               td.risktab
                  strong F.
                  =f
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion6
                        div(class="radio")
                           input(type="radio", value='1',name='Question6' )#answer1-6
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question6' )#answer2-6
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question6' )#answer3-6
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question6' )#answer4-6
                           =opcion4   
            tr
               td.risktab
                  strong B.
                  =b
                  div(style="margin-left: 10%")#fQuestion2
                     from(role="form")
                        div(class="radio")
                           input(type="radio", value='1',name='Question2' )#answer1-2
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question2' )#answer2-2
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question2' )#answer3-2
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question2' )#answer4-2
                           =opcion4   
               td.risktab
                  strong G.
                  =g
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion7
                        div(class="radio")
                           input(type="radio", value='1',name='Question7' )#answer1-7
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question7' )#answer2-7
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question7' )#answer3-7
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question7' )#answer4-7
                           =opcion4   
            tr
               td.risktab
                  strong C.
                  =c
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion3
                        div(class="radio")
                           input(type="radio", value='1',name='Question3' )#answer1-3
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question3' )#answer2-3
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question3' )#answer3-3
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question3' )#answer4-3
                           =opcion4   
               td.risktab
                  strong H.
                  =h
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion8
                        div(class="radio")
                           input(type="radio", value='1',name='Question8' )#answer1-8
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question8' )#answer2-8
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question8' )#answer3-8
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question8' )#answer4-8
                           =opcion4   
            tr
               td.risktab
                  strong D.
                  =d
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion4
                        div(class="radio")
                           input(type="radio", value='1',name='Question4' )#answer1-4
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question4' )#answer2-4
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question4' )#answer3-4
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question4' )#answer4-4
                           =opcion4   
               td.risktab
                  strong I.
                  =i
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion9
                        div(class="radio")
                           input(type="radio", value='1',name='Question9' )#answer1-9
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question9' )#answer2-9
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question9' )#answer3-9
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question9' )#answer4-9
                           =opcion4
            tr
               td.risktab
                  strong E.
                  =e
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion5
                        div(class="radio")
                           input(type="radio", value='1',name='Question5' )#answer1-5
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question5' )#answer2-5
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question5' )#answer3-5
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question5' )#answer4-5
                           =opcion4
               td.risktab
                  strong J.
                  =j
                  div(style="margin-left: 10%")
                     from(role="form")#fQuestion10
                        div(class="radio")
                           input(type="radio", value='1',name='Question10' )#answer1-10
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question10' )#answer2-10
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question10' )#answer3-10
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question10' )#answer4-10
                           =opcion4
         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')

//
   Created by joseorellana on 04-02-16.

