extends iframe-layout
block mainContent
   div(id='container')
      h1=Module
      div(id='module4')
         br
         br
         table(border='3px solid', width="120%", font-size="40%")
            tr
               td
                  =text
                  div(align="center")
                     from(role="form")#fQuestion1
                        div(class="radio")
                           input(type="radio", value='1',name='Question' )#answer1
                           =opcion1
                        div(class="radio")
                           input(type="radio", value='2',name='Question' )#answer2
                           =opcion2
                        div(class="radio")
                           input(type="radio", value='3',name='Question' )#answer3
                           =opcion3
                        div(class="radio")
                           input(type="radio", value='4',name='Question1' )#answer4
                           =opcion4
                        div(class="radio")
                           input(type="radio", value='1',name='Question' )#answer1
                           =opcion5
                        div(class="radio")
                           input(type="radio", value='2',name='Question' )#answer2
                           =opcion6
                        div(class="radio")
                           input(type="radio", value='3',name='Question' )#answer3
                           =opcion7
                        div(class="radio")
                           input(type="radio", value='4',name='Question1' )#answer4
                           =opcion8
                        div(class="radio")
                           input(type="radio", value='1',name='Question' )#answer1
                           =opcion9
                        div(class="radio")
                           input(type="radio", value='2',name='Question' )#answer2
                           =opcion10
                        div(class="radio")
                           input(type="radio", value='3',name='Question' )#answer3
                           =opcion11
                        div(class="radio")
                           input(type="radio", value='4',name='Question1' )#answer4
                           =opcion12
                        div(class="radio")
                           input(type="radio", value='1',name='Question' )#answer1
                           =opcion13
                        div(class="radio")
                           input(type="radio", value='2',name='Question' )#answer2
                           =opcion14
                        div(class="radio")
                           input(type="radio", value='1',name='Question' )#answer1
                           =opcion15
                        div(class="radio")
                           input(type="radio", value='2',name='Question' )#answer2
                           =opcion16
                        div(class="radio")
                           input(type="radio", value='3',name='Question' )#answer3
                           =opcion17
                        div(class="radio")
                           input(type="radio", value='4',name='Question1' )#answer4
                           =opcion18


         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')
//
   Created by joseorellana on 05-02-16.

