extends iframe-layout
block mainContent
   div(id='container')
      div(id='result')


         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')
//
   Created by joseorellana on 06-01-16.

